*,
*:before,
*:after {
 box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* Added it by yourself*/
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* general styles */
body {  
    background: #eff2f8;
    font: 16px Helvetica, Arial, sans-serif;
    line-height: 1.31;
    min-width: 1440px;
    max-width: 100%;
}.wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.header {
    background: #fff;
    padding: 24px 0;
    font-weight: bold;
    box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
}
.navi {
    display: flex;
    justify-content: flex-start;
}
.logo {
    color: #6a75ca;
    margin: 0 48px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
}
.navi-list {
    display: flex;
    padding: 0 69px;
}
.navi-list li {
    margin: 0 0 0 50px;
}
.navi-list li a {
    font-size: 16px;
    line-height: 32px;
    color: #131320;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.navi-list li a:hover {
    color: #6a75ca;
    border-bottom: 1px solid #6a75ca;
}
.navi-list-item.iris a {
    color: #6a75ca;
}
.main {
    display: flex;
    flex-grow: 1;
}
.sidebar {
    background: #6a75ca;
    flex: 0 0 176px;
    padding: 32px;
}
.sidebar-list {
    width: 176px;
}
.sidebar-list li a {
    color: #eff2f8;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    padding: 0 0 0 16px;
    position: relative;
    display: inline-block;
}
.sidebar-list-item {
    margin: 0 0 16px;
}
.sidebar-list li.circle a:hover:before,
.sidebar-list a:hover:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -4px 0 0;
}
.content {
    padding: 0 0 100px;
    flex-grow: 1;
}
.title {
    padding: 23px 48px;
    font-size: 36px;
    line-height: 42px;
    border-bottom: 1px solid #131320;
    margin: 0 0 12px;
}
.head {
    color: #131320;
    font-weight: bold;
}
.section {
    padding: 12px 48px;
}
.section-small.iris {
    width: 1104px;
    height: 127px;
    margin: 0 0 38px;
    clip-path: polygon(0 0, 95% 0%, 100% 42%, 100% 100%, 0 100%);
    background-color: #6a75ca;
    color: #fff;
    border-radius: 8px;
    padding: 32px; 
    display: flex;
    align-items: center;
    overflow: hidden;
}
.section-small.iris:hover {
    overflow: auto;
}    
.type {
    padding: 10px 0 15px;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid #131320;
    margin: 0 0 18px;
    text-transform: uppercase;
}
.line1 {
    font-size: 54px;
    line-height: 63px;
    padding: 5px 0;
    margin: 0 0 30px;
}
.line2 {
    font-size: 36px;
    line-height: 42px;
    padding: 5px 0;
    margin: 0 0 13px;
}
.line3 {
    font-size: 24px;
    line-height: 42px;
    padding: 5px 0;
    margin: 0 0 13px;
}
.line4, .line5, .line6 {
    font-size: 16px;
    line-height: 21px;
    padding: 5px 0;
    margin: 0 0 10px;
}
.section.code {
    font-family: "Courier New", Courier, monospace;
    color: #7d868e;
}    
.section-big, .section-big-very {
    background-color: #fff;
    border-radius: 8px;
    border: solid 1px #4f58b2;
    padding: 32px; 
    width: 1104px;
    margin: 0 0 33px;
    padding: 16px;
    position: relative;
    background-clip: content-box;
    position: relative;
}
.section-big:after, .section-big-very:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 47px 47px 0;
    top: 15px;
    right: 15px;
    border-color: transparent #eff2f8 transparent transparent;
    position: absolute;
}
.html-theme{
    top: -14px;
}
.css-theme {
    top: -12px;
}
.html-theme, .css-theme {
    padding-left:7px;
    padding-right:7px;
    position: absolute;
    color: #ffc806;
    background-color: #eff2f8;
    font: 12px/21px Helvetica, Arial, sans-serif; 
}